out
dist
node_modules
.vscode-test
*.vsix
.DS_STORE
*.log
test-results.xml
.vscodeDevUserData/User/workspaceStorage
.vscodeDevUserData/rapid_render.json
.vscodeDevUserData/machineid
.vscodeDevUserData/CachedExtensions
