.vscode
.vscodeDevUserData
src/
tsconfig.json
yarn.lock
babel.config.js
.prettierrc.yml
.prettierignore
.gitattributes
.gitignore
.github/

node_modules
!node_modules/prettier
!node_modules/spdx-exceptions
!node_modules/spdx-license-ids
!node_modules/core-js
!node_modules/mem
!node_modules/read-pkg-up
!node_modules/resolve
